@{
    ViewBag.Title = "Planning Site";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
   
}
<h3>Blue Team Planning Application</h3>
<img src="images/approved.bmp" />
<img src="images/planning.bmp" />
<img src="images/logo.jpg" /><br />
<strong>Create a planning application form and collaborate with architects.</strong>
 </section>

