@{
    ViewBag.Title = "About Us";
}

<h2>PLANNING APPLICATION FORM</h2>
<h3>BEFORE FILLING OUT THIS FORM PLEASE NOTE THE FOLLOWING:</h3>
<p> 1. 	MANDATORY INFORMATION 
This application form is in two parts. Part 1 contains sections requiring mandatory information - these sections are 
highlighted and must be completed. In relation to Part 2, please see (4) below. Please note also that Q.9 is 
mandatory. </p>
<p>
Failure to complete the mandatory sections of this form, or attach the necessary documentation, or the submission of 
incorrect information or omission of required information will lead to the invalidation of your application. Therefore 
please ensure that that each mandatory section of this application form is fully completed and signed, entering n/a 
(not applicable) where appropriate, and that all necessary documentation is attached to your application form. 
In order to reduce the risk of your planning application being declared invalid, you are advised to complete 
and sign off on the validation checklist prior to lodging your planning application. </p> 
<p>
	2. 	ADDITIONAL INFORMATION 
It should be noted that because each planning authority has its own development plan, which sets out local 
development policies and objectives for its own area it is necessary for Dublin City Council to require supplementary 
information (i.e. other than mandatory information) in order to determine whether the application conforms with the 
development plan. </p>
<p>
While failure to supply the supplementary information will not invalidate your planning application, it may delay the 
decision-making process or lead to a refusal of permission. In case of doubt, applicants should contact Dublin City 
Council Planning Department to determine what local policies and objectives would apply to the development 
proposed and whether additional information is required. </p>
<p>
	3. 		IT IS VERY IMPORTANT TO NOTE THAT: 
		(a) 	the granting of planning permission does not relieve the developer of the responsibility of complying 
with any requirements under other codes of legislation affecting the proposal, and 
	(b) 	a person shall not be entitled solely by reason of a planning permission to carry out any development </p>
<p>
4. 	DATA PROTECTION 
The planning process is an open and public one. In that context, all planning applications are made available for public 
inspection and we (the planning authority) publish weekly lists of planning applications received as well as weekly lists 
of planning decisions. It is the policy of Dublin City Council to also place this information on its website. 
It has come to our attention that the publication of planning applications by planning authorities can lead to applicants 
being targeted by persons in the business sector engaged in direct marketing. In response to a request from the Data 
Protection Commissioner, you are hereby given an opportunity to indicate a preference with regard to the receipt of 
direct marketing arising from the lodging of a planning application. </p>
<p>
If you are satisfied to receive direct marketing please tick this box. D 
Direct marketing may be by post, by telephone, by hand or by electronic mail such as email or text message where 
such details are supplied. 
It is the responsibility of those entities wishing to use the personal data on planning applications and 
decisions lists for direct marketing purposes to be satisfied that they may do so legitimately under the 
requirements of the Data Protection Acts 1988 & 2003 taking account of the preference outlined above. 


</p>

