@model Plan1.Models.Permission

@{
    ViewBag.Message = "";
}

<h2>Thank You - Your application has been successfully created and you will hear from us directly</h2>
<br />
<div>
    @Html.ActionLink("View My Application", "Index")
</div>

