@{
    ViewBag.Title = "Create a Planning Application";
}

                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            

<h3></h3>
<img src="~/images/approved.bmp" alt="approved" width="300" height="200" />
<img src="~/images/planning.bmp" alt="planning" width="300" height="200" />
<img src="~/images/logo.jpg" alt="logo" width="300" height="200" />
<img src="~/images/plans.jpg" alt="logo" width="300" height="200" /><br />
<p></p>
<h1>Apply for planning permission and collaborate with architects.</h1>


