@{
    ViewBag.Title = "About Us";
}

<h2>PLANNING APPLICATION FORM</h2>
<h3>BEFORE FILLING OUT THIS FORM PLEASE NOTE THE FOLLOWING:</h3>
<p> 1. 	MANDATORY INFORMATION 
This application form is in two parts. Part 1 contains sections requiring mandatory information - these must be completed.
In relation to Part 2, please see (4) below. Please note also that Q.9 is mandatory. </p>
<p>
Failure to complete the mandatory sections of this form, or attach the necessary documentation, or the submission of 
incorrect information or omission of required information will lead to the invalidation of your application. Therefore 
please ensure that that each mandatory section of this application form is fully completed and signed, and that all 
necessary documentation is attached to your application form. </p> 
<p>
	2. 	ADDITIONAL INFORMATION 
It should be noted that because each planning authority has its own development plan, which sets out local 
development policies and objectives for its own area it may be necessary for Dublin City Council to require supplementary 
information (i.e. other than mandatory information) in order to determine whether the application conforms with the 
development plan.

	3. 		IT IS VERY IMPORTANT TO NOTE THAT: 
	(a) 	the granting of planning permission does not relieve the developer of the responsibility of complying 
with any requirements under other codes of legislation affecting the proposal, and 
	(b) 	a person shall not be entitled solely by reason of a planning permission to carry out any development </p>
<p><strong>
4. 	DATA PROTECTION 
The planning process is an open and public one. In that context, all planning applications are made available for public 
inspection and we (the planning authority) publish weekly lists of planning applications received as well as weekly lists 
of planning decisions. It is the policy of Dublin City Council to also place this information on its website. The drawings
submitted will be stored in publicly accessible Cloud sites. The site format is as follows:
https://blueteam.blob.core.windows.net/addressline1/file.nnn 
 </strong></p>

