@{
    ViewBag.Title = "";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone No's</h3>
    </header>
    <p>
        <span class="label">Business Hours:</span>
        <span>1850 221 721</span>
    </p>
    <p>
        <span class="label">After Hours:(fax)</span>
        <span>01 4972 200</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:info@ncirl.ie">Support</a></span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Postal Address</h3>
    </header>
    <p>
        Mayor Street<br />
        Dublin 1
    </p>
</section>