@{
    ViewBag.Title = "Blue Team Planning Application";
}
            <hgroup class="title">
            <h2>@ViewBag.Message</h2>
            </hgroup>
<p>
<h3></h3>
    <strong><Font size="4">This program will collect the details of your planning application along with all the necessary drawings.</strong></Font><br />
    <div>
    <Img src="/Images/approved.bmp" />
    <Img src="/Images/planning.bmp" />
    <Img src="/Images/logo.jpg" />
    <Img src="/Images/plans.jpg" />
    </div>
    </p>
    <p>
You need to apply for planning permission before you can start most development work This public process requires various checks. This is in order to create a more sustainable environment today and for future generations.

</p>
