@model IEnumerable<Plan1.Models.DHBlob>

@{
    ViewBag.Title = "Drawings";
}



<table>
    <tr>
        <th>
            Drawing List
        </th>
       
    </tr>

    @foreach (var i in Model)
    {
    <tr>
        <td>
             <a href="@i.blobURI ">@i.blobURI</a>
        </td>
        <td>
            @Html.ActionLink("List", "Index", "DHBlob", new { id = i.blobURI} )
        </td>
        
    </tr>
    }
</table>